.rounded-button {
  border-radius: 10px;
  border: 2px solid #4f6ba7;
  background: #fff;
  transition: all 0.2s ease;
}

.rounded-button:hover {
  background: #ccc;
  text-decoration: underline;
  cursor: pointer;
}

.rounded-button:active {
  background: #e4e4e7;
}

.rounded-button-wordcloud {
  color: #4f6ba7;
  font-weight: bold;
  font-size: 1rem;
  width: 15vw;
  height: 5vh;
}

.rounded-button-wordcloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
